* {
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	//background-image: url("bg-2-full.jpg");
	//background-attachment: fixed;
}

header{
	background-image: url("bg-2-full.jpg");
	background-attachment: fixed;
	text-align: center;
	font-size:35px;
	color: #FFFFFF;
	padding-top: 10%;
	padding-bottom: 10%;
	width:100%;
}

header p{
	font-style: italic;
	font-size: 15px;
}

section{
	display: -webkit-flex;
	display: flex;
	//max-width: 400px;
}

article{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	padding-left: 2%;
	padding-right: 2%;
	width:100%;
	//background-color: #f1f1f1;
	background:#233237;
}

nav a{
	padding:5px;
}
/*
span#side_menu_button{
	background-color:#ccc;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

span#side_menu_button:hover{
	background-color:#666;
}
*/
div#top_nav_container {
	background: #AAAAAA;
	text-align: center;
	width: 100%;
	overflow: hidden;
	min-height: 30px;
	position:sticky;
	top:0px;
	
}

nav#top_nav{
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

nav#main_nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex:1;
	background: #ccc;
	padding: 20px;
	height: 100%;
}

div.text_align{
	text-align: center;
}

nav#main_nav ul {
	list-style-type: none;
	padding: 0;
}


div.padding{
	padding: 5%;
}

div.

div.margin{
	margin-top:5%;
	margin-bottom: 5%;
}

div.block{
	background: #EEEEEE;
	padding: 2%;
	margin-top:3%;
	margin-bottom:3%;
	margin-left:auto;
	margin-right:auto;
	word-wrap: break-word;
	max-width: 1000px;
}

div.block_flex{
	background: #EEEEEE;
	padding: 2%;
	margin-top:3%;
	margin-bottom:3%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	word-wrap: break-word;
	max-width: 1000px;
}

div.side_text{
	max-width:400px;
	width:100%;
	margin-left:3%;
	margin-right:3%;
}

div.flex{
	width:100%;
	opacity:1;
	margin-top:auto;
	margin-bottom:auto;
	//text-align:center;
}



img#noriaki{
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	display: block;
}

img#data_viz{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	display: block;
}

img#brand_recog{
	width : 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	display: block;
}

img#everybody_sad_0{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	display: block;
}

img#everybody_sad_1{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	display: block;
}

div#menu_part{
	width:20%;
}


footer{
	background-color: #233237;
	padding: 10px;
	text-align: center;
	color: white;
}

/*
@media (max-width: 1000px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

@media (min-width: 1001px) {
	span#side_menu_button{
		display: none;
	}
}
*/

@media (max-width: 600px){
	img#noriaki{
		width:200px;
	}

	div.block_flex{
		-webkit-flex-direction: column;
		flex-direction: column;
	}

}
