* {
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

header{
	background-color: #18121E;
	text-align: center;
	font-size:35px;
	color: #FFFFFF;
}

section{
	display: -webkit-flex;
	display: flex;
	
	
}

nav a{
	padding:5px;
}
/*
span#side_menu_button{
	background-color:#ccc;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

span#side_menu_button:hover{
	background-color:#666;
}
*/
div#top_nav_container {
	background: #233237;
	text-align: left;
	width: 100%;
	overflow: hidden;
	min-height: 30px;
	position:sticky;
	top:0px;
	
}

nav#top_nav{
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

nav#main_nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex:1;
	background: #ccc;
	padding: 20px;
	height: 100%;
}


nav#main_nav ul {
	list-style-type: none;
	padding: 0;
}

div.block{
	background-color: #984B43;
	padding: 40px;
	margin-bottom: 50px;
	display:flex;
	word-wrap: break-word;
}

div.flex{
	width:100%;

}

article{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	padding: 20px;
	//background-color: #f1f1f1;
	background-color:#EAC67A;
}

img#noriaki{
	width: 30vw;
	margin-left:auto;
	margin-right:auto;
	display: block;
}

div#menu_part{
	width:20%;
}


footer{
	background-color:#777;
	padding: 10px;
	text-align: center;
	color: white;
}
/*
@media (max-width: 1000px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	nav#main_nav {
		display: none;
	}
}

@media (min-width: 1001px) {
	span#side_menu_button{
		display: none;
	}
}
*/

