* {
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: #666;
	text-align: center;
	font-size:35px;
	color: white;
}

section {
	display: -webkit-flex;
	display: flex;
}

span a img {
	vertical-align: center;
}

span#side_menu_button{
	background-color:#ccc;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

span#side_menu_button:hover{
	background-color:#666;
}

div#top_nav {
	background: #ccc;
	padding-top: 10px;
	text-align: left;
	width: 100%;
	min-height: 30px;
	overflow: hidden;
	position: fixed;

	top: 0;
	width: 100%;
}

nav#main_nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex:1;
	background: #ccc;
	padding: 20px;
	height: 100%;
}


nav#main_nav ul {
	list-style-type: none;
	padding: 0;
}

article{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	padding: 20px;
	background-color: #f1f1f1;
}

div#menu_part{
	width:20%;
}

footer{
	background-color:#777;
	padding: 10px;
	text-align: center;
	color: white;
}

@media (max-width: 1000px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	nav#main_nav {
		display: none;
	}
}

@media (min-width: 1001px) {
	span#side_menu_button{
		display: none;
	}
}


